{% extends 'base.html.twig' %}

{% block body %}

        <article class="grid-container">
        <br>
        <div class="text-left">
            <h2 style="color: #0088CC" ><i>Patients List</i></h2>
            <div style="display: inline;">
                <a href="{{ path('patient_new') }}" class="button primary">Create a new patient</a>
            </div>
            <hr>
        </div>
        <div class="grid-x grid-margin-x small-up-2 medium-up-2 large-up-4">
            {% for patient in patients %}
                <div class="cell" style="margin-right: 5px">
                    <div class="card" style="width: 250px;">
                        <div class="card-divider">
                            <a href="{{ path('patient_show', { 'id': patient.id }) }}"><h5>{{ patient.id }}</h5></a>
                        </div>
                        <div class="card-section">
                            <div>Name: <span>{{ patient.name }}</span></div>
                            <div>Lastname: <span>{{ patient.lastname }}</span></div>
                            <div>Age: <span>{{ patient.age }}</span></div>
                            <div>IdNumber: <span>{{ patient.idNumber }}</span></div>
                            <div>IdType: <span>{{ patient.idType }}</span></div>
                            <div>Observations: <span>{{ patient.observations }}</span></div>
                            <br>
                            <div class="card center"><a href="{{ path('patient_show', { 'id': patient.id }) }}" class="button primary">Show</a></div>
                            <div class="card center"><a href="{{ path('patient_edit', { 'id': patient.id }) }}" class="button warning">Edit</a></div>
                        </div>
                    </div>
                </div>
            {%endfor%}
        </div>
        <hr>
        <div>
            <a href="{{ path('patient_new') }}" class="button primary">Create a new patient</a>
        </div>
        </article>
{% endblock %}
