{% extends 'base.html.twig' %}

{% block body %}
    <br>
<article class="grid-container" style="width: 600px">
    <br>
    <div class="text-left">
        <h2 style="color: #0088CC"><i>Patient</i></h2>
        <hr>
    </div>
    <div class="grid-x grid-margin-x small-up-2 medium-up-2 large-up-4" style="padding-left: 15px;padding-right: 15px">
    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ patient.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ patient.name }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ patient.lastname }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ patient.age }}</td>
            </tr>
            <tr>
                <th>Idnumber</th>
                <td>{{ patient.idNumber }}</td>
            </tr>
            <tr>
                <th>Idtype</th>
                <td>{{ patient.idType }}</td>
            </tr>
            <tr>
                <th>Observations</th>
                <td>{{ patient.observations }}</td>
            </tr>
        </tbody>
    </table>
    </div>
    <div><a href="{{ path('patient_index') }}" class="button expanded primary">Back to the list</a></div>
    <div><a href="{{ path('patient_edit', { 'id': patient.id }) }}" class="button expanded warning">Edit</a></div>
    <div>{{ form_start(delete_form) }}
        <input type="submit" value="Delete" class="button expanded alert">
        {{ form_end(delete_form) }}</div>
</article>
{% endblock %}
